@import url("../../Styles/fonts.css");

.container {
  padding: 0 15px;
}

p.location a {
  display: inline;
  font-size: 11px;
  color: #c4a173;
  letter-spacing: 1.5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

div p.location {
  font-size: 11px;
  margin: 10px 0;
  display: none;
  letter-spacing: 1.5px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.header {
  font-size: 23.8px;
  font-weight: 300;
  color: #272727;
  line-height: 36px;
}

.empty {
  font-size: 22px;
  color: #444;
  line-height: 1.5;
  font-weight: 500;
  /* margin-bottom: 130px; */
}

.productContainer {
  border-top: 1px solid #e5e5e5;
  padding: 21px 0;
  width: 100%;
}

.innerFirstSection {
  display: flex;
  align-items: center;
}

.firstSection .title {
  display: none;
}

.photoContainer {
  width: 33%;
  position: relative;
}

.photoContainer img {
  width: 100%;
  padding: 6.87px 28.75px;
}

.titleContainer {
  padding-left: 21px;
  width: 67%;
}

.brandName {
  margin-bottom: 3px;
  color: #999;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
}

.titleContainer a {
  color: #c4a173;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.25px;
}

.size {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #757575;
  font-family: "Work Sans", sans-serif;
  margin: 5px 0;
}

.size span {
  text-transform: uppercase;
  color: #333;
}

.change {
  background-color: #f9f5f1;
  border: none;
  color: #c4a173;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.25px;
  padding: 2.5px 5px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

.secondSection {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.title {
  width: 33%;
  text-align: right;
  margin-bottom: 5px;
  color: #999;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.price {
  text-align: left;
  width: 67%;
  padding-left: 21px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;


  margin-left: 100px;

}

.thirdSection {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;

  

}

.thirdSection .title {
  text-transform: uppercase;
}

.quantityContainer {
  width: 67%;
  display: flex;
  padding-left: 21px;
  align-items: center;


  margin-left: 120px;

}

.quantityInnerContainer {
  display: flex;
  align-items: center;
}

.quantityBtn {
  font-size: 12px;
  letter-spacing: 1.25px;
  padding: 12.5px 20px;
  line-height: 14px;
  border: 1px SOLID #ccc;
  background-color: transparent;
  color: #666;
  align-items: center;
  cursor: pointer;
}

.quantityBtn img {
  width: 9px;
  filter: invert(16%) sepia(0%) saturate(1%) hue-rotate(52deg) brightness(89%)
    contrast(83%);
}

.quantityContainer p {
  margin: 0 20px;
  font-size: 15px;
  font-weight: 700;
  color: #666;
}

.quantityMedium {
  display: none;
}

.forthSection {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.forthSection div {
  display: flex;
  justify-content: space-between;
  width: 67%;
  padding-left: 21px;
}

.totalPrice {
  font-weight: 700;
  line-height: 21px;
  font-size: 14px;
  color: #333;


  margin-left: 120px;
}


.cross {
  width: 16px;
  height: 15px;
  display: inline;
  padding: 4px;
  background-color: #e5e5e5;
  border-radius: 100%;
  margin-right: 15px;
  cursor: pointer;
  margin-right: -100px;
  }


.checkoutContainer {
  border-top: 1px solid #e5e5e5;
  padding: 21px 0;
  width: 100%;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkoutTitle {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.25px;
  color: #757575;
}

.innerContainer p:first-child {
  width: 33%;
  text-align: right;
  padding: 7px 0 7px 21px;
}

.innerContainer div {
  width: 67%;
  padding-left: 21px;
}

.grandTotal {
  width: 67%;
  padding-left: 21px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
}

.zip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 21px;
}

.zip p:first-child {
  color: #555;
  font-size: 13px;
  letter-spacing: 1.25px;
  font-weight: 500;
}

.zip img {
  width: 65px;
  padding-left: 5px;
  margin: -1px 0 5px;
}

.zip p:last-child {
  padding-left: 4px;
  font-size: 11px;
}

.checkoutBtn {
  background-color: black;
  opacity: 0.8;
  color: white;
  font-size: 12px;
  letter-spacing: 1.25px;
  padding: 12.5px 20px;
  width: 100%;
  border: none;
  line-height: 14px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.use {
  text-align: center;
  margin: 7px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
}

.paypal {
  text-align: center;
  margin: 10px 0;
}

.paypal img {
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffc439;
  padding: 10px 45px;
  height: 40px;
}

.gPay {
  text-align: center;
  margin: 20px 0 0;
}

.gPay img {
  border-radius: 4px;
  background-color: black;
  cursor: pointer;
  padding: 12px 24px 10px;
}

@media (min-width: 551px) {
  div p.location {
    display: block;
  }

  .innerSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 28%;
    padding-left: 21px;
  }

  .secondSection,
  .thirdSection,
  .forthSection {
    display: block;

  }

  .price,
  .quantityContainer,
  .forthSection div {
    padding-left: 0;
  }

  .title {
    text-align: left;
  }

  .us {
    display: none;
  }

  .forthSection div {
    width: 100%;
  }

  .firstSection {
    justify-content: flex-start;
  }

  .photoContainer img {
    padding: 0 3rem;
  }

  .photoContainer {
    width: 28%;
    position: relative;
  }

  .checkoutBtn {
    width: 80%;
    margin: 0 10%;
  }
}

@media (min-width: 551px) and (max-width: 1160px) {
  .quantitySmall {
    display: none;
  }

  .quantityMedium {
    display: inline;
  }

  .quantityInnerContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 770px) {
  .container {
    padding: 0 25.5px;
  }

  .header {
    font-size: 32px;
    margin-bottom: 42px;
  }
}

@media (min-width: 800px) {
  .productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .photoContainer {
    width: 18%;
  }

  .photoContainer img {
    padding: 0 0.65rem 0 0;
  }

  .innerSection {
    margin-left: 0;
    padding-left: 0;
  }

  .productContainer:first-of-type {
    /* border-top: 1px solid #e5e5e5; */
    /* border-top: none; */
    /* padding: 21px 0;
    width: 100%; */
    position: relative;
    margin-top: 77.5px;
  }

  .productContainer:first-of-type .title {
    display: inline-block;
    position: absolute;
    top: -30px;
    font-weight: 700;
    color: #333;
    width: auto;
  }

  .title {
    /* border-bottom: 1px solid #e5e5e5; */
    display: none;
  }

  .quantitySemiColon {
    display: none;
  }

  .forthSection .title {
    left: calc(100% - 36px);
  }

  .innerContainer {
    border-bottom: 1px solid #e5e5e5;
    text-align: right;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 14px 0;
  }

  .innerContainer .price {
    text-align: right;
  }

  p.checkoutTitle:first-child {
    text-align: left;
  }

  .zip {
    padding-top: 20px;
  }

  .thirdSection p.title {
    text-transform: none;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 70px;
  }
}

@media (min-width: 1160px) {
  #quantityTitle {
    padding-left: 43px;
  }
}
